---
permalink: /
title: "About Me"
author_profile: true
redirect_from: 
  - /about/
  - /about.html
---
<h1 class="page__title">About Me</h1>

<p>
  Hi! My name is <b>Zhewen JD Deng (邓喆雯)</b>. I go by <b>JD</b>. 

  I am a fifth year PhD in Chemical Engineering at UC San Diego (expected June 2026), advised by [Dr. David Fenning](https://jacobsschool.ucsd.edu/node/3546). I obtained my Bachelor's degree in Chemical Engineering from the University of Michigan, Ann Arbor in 2020.

  My research is on advanced photovoltaics luminescence imaging and instrumentation/automation. I develop automated characterization platforms and novel scientific methods to accelerate materials research. My work specifically applies to **energy, semiconductor, and optical materials**, with chemical engineering fundamentals. I'm proficient in both Python and MATLAB for hardware control and data analysis. 

  <b>I am currently seeking Full-Time R&D, Process, Product or Automation/Instrumentation Engineering roles starting Summer 2026. I am also open to advanced internships.</b>
</p>

<hr class="page__hr"/>

<h1 class="page__title">Publications <a href="publications">[More]</a></h1>

{% for post in site.publications reversed %}
{% include archive-single.html %}
{% endfor %}

<hr class="page__hr"/>

<h1 class="page__title">Projects <a href="projects">[More]</a></h1>

{% for post in site.projects reversed %}
{% include archive-single.html %}
{% endfor %}
