{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{% if teaser contains "://" %}{{ teaser }}{% else %}{{ teaser | prepend: "/images/" | prepend: base_path }}{% endif %}" alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.collection == 'publications' %}
        {{ title }}
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    {% if post.citation %}
      <p class="archive__item-citation" style="margin-bottom: 0.25em;">
        {{ post.citation | markdownify | remove: '<p>' | remove: '</p>' }}
      </p>
    {% endif %}

    <p class="archive__item-details" style="margin-top: 0; margin-bottom: 0.5em;">
      {% if post.collection == 'publications' %}
        <i style="margin-right: 15px;">{{ post.venue }}, {{ post.date | default: "1900-01-01" | date: "%Y" }}</i>
      {% elsif post.collection == 'teaching' %}
        <span style="margin-right: 15px;">{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</span>
      {% endif %}

      <span class="archive__item-links">
        {% if post.paperurl %}<a href="{{ post.paperurl }}">PDF</a>{% endif %}
        {% if post.codeurl %} | <a href="{{ post.codeurl }}">Code</a>{% endif %}
        {% if post.hardwareurl %} | <a href="{{ post.hardwareurl }}">Hardware</a>{% endif %}
        {% if post.slidesurl %} | <a href="{{ post.slidesurl }}">Slide</a>{% endif %}
        {% if post.bibtexurl %} | <a href="{{ post.bibtexurl }}">Bib</a>{% endif %}
      </span>
    </p>

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
      </p>
    {% endif %}

  </article>
</div>
